<!--
Course: CST 205
Title: index.html
Abstract: This is the main page with the search form that allows users to search through NASA's images
Author(s): Yvonne Cruz , Niel McMahan
12/08/2020 
-->

<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>NASA API Search</title>
    {% endblock %}
  </head>
<body>
  {% block content %}
  <div class="container-fluid">

      <h1 class="text-center">NASA API Images Search</h1>

      <form class="form-control form-control-lg d-flex justify-content-center h-25" method="POST" action="/">
        <div class=>
          {{ form.csrf_token }}
          {{ form.search_terms.label }} 
          {{ form.search_terms(size=32) }}
          <input type="submit" value="Submit" class="btn btn-success ml-4 mb-2">
        </div>
      </form>
   
  </div>  
  {% endblock %}
</body>
</html>