<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Modified Image</title>
      <a href="{{url_for('index')}}"><h1 class="text-center">Home</h1></a>
  </head>
<body>
  <div class="container">
    <h1 class="text-center">Here is your modified image</h1>
    <div class="row">
      <div class="mx-auto">
        <img
          src="../static/image.png"
          class="rounded border border-primary" />
      </div>
    </div>
  </div>
</body>
<footer>
<br>
</footer>
</html>