<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {% block styles %}
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>Modified Image</title>
      <a href="{{url_for('index')}}">Home</a>
  </head>
<body>
  <div class="container">
    <h1>Here is your modified image</h1>
    <div class="row">
      <div class="col-md-auto">
        <img
          src="../static/image.png"
          class="img-fluid rounded" />
      </div>
    </div>
  </div>
</body>
</html>